<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<applicationInitialization skipManagedModules="true">  
      <add initializationPage="/index.js" />  
    </applicationInitialization>
<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
<handlers>
  <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
</handlers>
<rewrite>
  <rules>  
    <rule name="DynamicContent">  
          <action type="Rewrite" url="index.js" />   
        </rule>  
<rule name="No redirect on warmup request (request from localhost with warmup user agent)" stopProcessing="true">> 
<match url=".*" /> 
<conditions> 
<add input="{HTTP_HOST}" pattern="localhost" /> 
<add input="{HTTP_USER_AGENT}" pattern="Initialization" /> 
</conditions> 
<action type="Rewrite" url="index.js" /> 
</rule> 
<rule name="HTTP to HTTPS redirect for all requests" stopProcessing="true"> 
<match url="(.*)" /> 
<conditions> 
<add input="{HTTPS}" pattern="off" /> 
</conditions> 
<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" /> 
</rule> 
  </rules>
</rewrite>
<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
            <access sslFlags="SslNegotiateCert" />
</security>
<directoryBrowse enabled="false" />
</system.webServer>
</configuration>